video {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    margin-bottom: 2px;
    max-height: 165px;
}

.sender-name {
	font-size: 30px;
}

.amount {
	font-size: 35px;
}

.inner-payment {
	width: 300px;
	text-align: center;
	/*border: 1px solid black;*/
}

.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.profile img {
	margin-top: 2px;
	width: 100px;
  	height: 100px;
}

/*
#payments {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
*/


#payments {
	column-width: 320px;
	column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

/*
.payment {
    margin: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
*/
div.payments {
	text-align: center;
}

div#payments .payment {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 4px 15px;
	padding: 15px; padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	column-break-inside: avoid;
	display: inline-block;
	height: 415px;
}

/*
div#columns figure img {

width: 100%; height: auto;

border-bottom: 1px solid #ccc;

padding-bottom: 15px;

margin-bottom: 5px;

}

*/
#logout-wrapper {
	display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    color: white !important;
}

#logout-wrapper a {
	color: rgba(255, 255, 255, 0.58);
}

#create-account {
	float: right;
}

#payments-total {
	text-align: center;
}

.back-link {
	float: left;
}

#events .event {
	height: 60px;
	border-bottom: solid 1px #cacaca;
	margin-bottom: 15px;
}

#events .event .event-image {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #dedede;
}

#events .event .event-name {
	font-size: 20px;

}
#events .event a {

}

#events .event code {
	float: right;
	font-size: 30px;
}

#event-name {
	font-size: 36px;
	height: 62px;
}

.image {
	display: inline-block;
}

.image input[type="file"] {
	visibility: hidden;
	display: inline-block;
}
.image .image-display {
	cursor: pointer;
	background-color: #ddd;
	width: 100px;
	height: 100px;
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#background-image .image-display {
	width: 400px;
	height: 300px;
}

.image-container {
	display: inline-block;
	width: 120px;
}

.suggested-payment {
	background-color: #eee;
	margin-bottom: 15px;
}

header {
	background-color: #337ab7;
    background-image: linear-gradient(-180deg, #60AEE4 0%, #2971B2 200%);
    padding: 30px 5px 30px;
    font-family: "HelveticaNeue-Thin";
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}
header h1 {
	text-align: center;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

.create-button-container {
	text-align: center;
}

body, html {
	background-color: #ececec;
}

.btn-primary {
	background-color: #009cde;
	border: 0;
}

.btn-primary.btn-xs {
	background-color: #e1e7eb;
	color: #2c2e2f;
}

.top-line-header {
	font-size: 64px;
}

.bottom-line-header {
	font-size: 20px;
	margin-top: 0px;
}
